@import "px2rem";

html, body, #app, .page {
  height: 100%;
}

html, body, #app, .page, pre {
  margin: 0;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  overflow: hidden;
}
input {
  -webkit-appearance: none;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

.page {
  display: flex;
  flex-direction: column;
  transition: all .45s cubic-bezier(.23, 1, .32, 1);
}

.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}

.horizontal-view {
  display: flex;
  flex-direction: row;
}

.vertical-view {
  display: flex;
  flex-direction: column;
}

a {
  color: $mainColor;
}

.context {
  color: $fontcolor;
  font-size: px2rem(14);
  padding: px2rem(5) 0;
}

//---------------------------------------------------------------------------------

.mu-appbar {
  background-color: #ffffff;
  color: #000;
}

.mu-buttom-item {
  min-width: 70px;
}

.mu-bottom-item-active .mu-bottom-item-text {
  color: #333;
}

.mu-list {
  padding: 0;
}

.mu-item {
  padding: px2rem(6) px2rem(16);
}

.mu-text-field-content {
  padding: px2rem(4) 0 !important;
}

.mu-text-field {
  margin-bottom: 0;
  min-height: 0;
}

.mu-flat-button {
  min-width: px2rem(60);
}

.mu-flat-button-primary {
  color: $mainColor;
}

.mu-dialog-title {
  color: $mainColor;
}
