$designWidth: 375;

$mainColor: rgb(27, 212, 187);
$fontcolor_gray: #ACACAC;
$fontcolor_gray_line: #ddd;
$fontcolor_red: #fe4c4c;
$fontcolor_blue: #0072ff;
$fontcolor: #666666;
input,textarea,button{
  outline: none;
}
.line_one {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.line_three{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
$placeholderColor:#aaa
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    $placeholderColor;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $placeholderColor;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $placeholderColor;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $placeholderColor;
  }

$bgImage: linear-gradient(to top, #11cdcd, #0edda2);

$divider: rgb(242, 242, 242);

@function px2rem($px) {
  @return $px*320/$designWidth/20 + rem;
}




