
// 处理 scss公共方法

// 单行省略号
.one-line{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@mixin more-line($num){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}
