@import "../../assets/scss/px2rem";

.scroll-view {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  //list样式
  .mu-list {
    overflow: visible;
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      .image {
        width: px2rem(60);
        height: px2rem(60);
        max-width: 80px;
        max-height: 80px;
      }
      &-content {
        display: flex;
        flex-direction: column;
        margin-left: px2rem(20);
        &-title {
          margin-bottom: px2rem(10);
        }
      }
    }
  }

  //grid样式
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
      width: 100%;
      height: 100%;
      font-size: px2rem(8);
      &-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  //empty-view
  .empty-view {
    font-size: 16px;
    //height: 100%;
    .empty-message {
      padding-top: 10px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 900px) {
  .scroll-view {
    .mu-list {
      .item {
        &-content {
          display: flex;
          flex-direction: column;
          margin-left: px2rem(10);
          &-title {
            margin-bottom: px2rem(5);
          }
        }
      }
    }
  }
}